streamlit
python-dotenv
openai
tiktoken
PyPDF2
python-pptx
pdfplumber
numpy
pandas
tqdm
requests
langchain-openai
langchain-core
langchain-community
pinecone
pysqlite3-binary
chromadb==0.4.22
crewai==0.130.0
crewai-tools==0.58.0
